#app {
  max-width: 480px;
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.content { flex: 1; padding: 0 0 100px; }

.page { display: none; }

.page.active { display: block; }
